@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Press+Start+2P&display=swap');

body {
    background: url(../images/paperbackground.jpg) center center / cover no-repeat;
    height: 120vh;
    font-family: 'Just Another Hand', cursive;
    font-size: 2rem;
}

header {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 5vh;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    padding: 2vw;
}

#gaming-area {
    height: 70%;
    width: 90%;
    background-color: rgba(249, 249, 249, 0.39);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}

#score div {
    margin: 1em 1em 0em 1em;
    font-size: 80%;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
    padding: 1%;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 50%;
}

#computer {
    float: right;
}

#moves-left {
    clear: both;
    float: right;
    margin-top: 2vw;
}

.options {
    text-align: center;
    margin-top: 5vw;
}


.options button {
    width: 10vw;
    margin-left: 10vw;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.068);
    position: inherit;
}

.options img {
    height: 5vw;
    width: 5vw;
}

.options2 {
    float: right;
    margin-top: 10vw;
    margin-right: 20vw;
}

button:hover {
    background-color: white;
    color: black;
}

#display {
    background-color: rgba(48, 48, 48, 0.123);
    height: 25vh;
    width: 20vw;
    margin-left: 33%;
    margin-top: 5vh;
    border: 1px solid black;
    position: absolute;
    text-align: center;
}

#display img {
    height: 5vw;
    width: 5vw;
    margin: 5% 10% 0 10%;
}

#display span {
    float: left;
    margin-left: 20%;
    margin-top:5%;
    font-size: 3vw;
}

button img {
    height: 80%;
    width: 80%;
}

#other-media {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
    padding: 1rem;
    width: 40vw;
    height: 6vw;
    text-align: left;
}

.modal-content button {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 50%;
    background-color: #78787826;
    color: rgb(0, 0, 0);
    float: right;
    margin-top: 10%;
    margin-bottom: 3em;
    overflow: hidden;
}

.modal-content button:hover {
    background-color: rgb(0, 0, 0);
    color: #fefefe;
    content:"Completed!";
}

#modal-content2 {
    width: 70%;
    height: 45%;
}

#modal-content2 button {
    margin-top: 0;
}

@media screen and (max-width:1000px) {

    #gaming-area {
        height: 75%;
    }

    #score {
        text-align: center;
    }

    #computer {
        float: none;
        margin-left: 10em;
    }

    #moves-left {
        float: none;
    }

    .options {
        clear: both;
    }

    .options button {
        width: 10vw;
        margin-left: 5%;
        height: 15vh;
        position: relative;
        margin-top: 2em;
    }

    .options2 {
        float: none;
        margin-right: 0;
    }

    .options img {
        height: 8vw;
        width: 8vw;
    }

    #display {
        height: 20vw;
        width: 50vw;
        margin-left: 19vw;
    }

    #display span {
        font-size: 5vw;
    }

    #display img {
        margin-left: 5%;
       height: 8vw;
       width: 8vw;
    }

    #display span {
        margin-top: 5%;
    }

    button img {
        width: 90%;
    }

    .modal-content {
        width: 60vw;
        height: 10vw;
    }

    #modal-content2 {
        width: 90%;
        height: 60%;
    }


}


@media screen and (max-width:600px) {

    #gaming-area {
        height: 80%;
    }

    #score div {
        margin: 0;
        margin-top: 1em;
        margin-left: 1em;
        font-size: 60%;
    }

    .options {
        margin-top: 1%;
    }

    .options button {
        width: 15vw;
        margin-left: 0;
        margin-top: 10vw;

    }

    #display {
        height: 30vw;
        width: 80vw;
        margin-left: 4vw;
    }

    #display img {
        margin-left: 15%; 
        margin-right: 15%;
        height: 10vw;
        width: 10vw;
     }

     #display span {
        font-size: 5vw;
     }

    .modal-content {
        width: 70%;
        height: 18vw;
        text-align: center;
    }

    #modal-content2 {
        width: 70%;
        height: 70%;
    }


}

@media screen and (max-width:400px) {

    #gaming-area {
        height: 90%;
        width: 120vw;
    }

    .options {
        margin-top: 10vw;
        margin-right: 2vw;
        clear: both;
    }
    .options button {
        width: 20vw;
    }

    .options img {
        height: 15vw;
        width: 15vw;
    }

    #display {
        margin-left: 6vw;
        margin-top: 10vw;
        width: 104vw;
        height: 50vw;
    }

    #display span {
        font-size: 10vw;
    }

    #display img {
        height: 20vw;
        width: 20vw;
        margin-top: 10vw;
    }

    #score div {
        font-size: 60%;
    }
}